@font-face {
	font-family: 'romanFont';
	src: url('ComicNeue-Angular-Light.ttf');
	format('truetype');
		}
@font-face {
	font-family: 'italicFont';
	src: url('ComicNeue-Angular-Light-Oblique.ttf');
	format('truetype');
		}

@font-face {
	font-family: 'titleFont';
	src: url('ComicNeue-Angular-Bold.ttf');
	format('truetype');
		}

@font-face {
	font-family: 'comicFont';
	src: url('SF_Cartoonist_Hand.ttf');
	format('truetype');
		}

@font-face {
	font-family: 'letterFont';
	src: url('BackIssuesBB_reg.ttf');
	format('truetype');
		}



@font-face {
	font-family: 'codeFont';
	src: url('SourceCodePro-Regular.ttf');
	format('truetype');
		}
body {padding: 0; margin: 0;}
p{font-family:romanFont ;color: #003366;font-size: 16px;}
q { quotes: "‘" "’" "“" "”"; }
q.double {quotes: "“" "”";}
q.single {quotes: "‘" "’";}



.infoBlock,.posterinfoBlock,.passComment,.passCommentL,.passCommentR,.posterpassComment, .posterpassCommentL,.posterpassCommentR,.posterTitle,.thinkingR,.topthinkingR,.thinkingL,.topthinkingL,.comiccommentR,.comiccommentL,.comicthinkingR,.comicthinkingL,.topcomicthinkingL,.topcomicthinkingR,.topcomiccommentR,.topcomiccommentL,.lettercommentR,.lettercommentL,.letterthinkingR,.letterthinkingL,.topletterthinkingL,.topletterthinkingR,.toplettercommentR,.toplettercommentL{
    color:#003366;
    background: #FFFFFF;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    z-index: 250;
      }

.explanatorytextalignR,.explanatorytextalignL,.invertedtitle,.infoText,.infoBlock,.posterinfoBlock,.passComment,.passCommentL,.passCommentR,.posterpassComment, .posterpassCommentL,.posterpassCommentR,.posterTitle,.thinkingR,.topthinkingR,.thinkingL,.topthinkingL{
    font-family: romanFont, sans-serif;
}


.lettercommentR,.lettercommentL,.letterthinkingR,.letterthinkingL,.topletterthinkingL,.topletterthinkingR,.toplettercommentR,.toplettercommentL{
    font-family: letterFont;
}

.menton{
	 font-family: comicFont;
    font-size: 16px;
    color:#003366;
}

.infoBlock, .infoText,.passComment, .passCommentL,.passCommentR,.thinkingR,.topthinkingR,.thinkingL,.topthinkingL,.lettercommentR,.lettercommentL,.letterthinkingR,.letterthinkingL,.topletterthinkingL,.topletterthinkingR,.toplettercommentR,.toplettercommentL{
font-size: 16px;
}

.comiccommentR,.comiccommentL,.comicthinkingR,.comicthinkingL,.topcomicthinkingL,.topcomicthinkingR,.topcomiccommentR,.topcomiccommentL{
    font-family: comicFont;
    font-size: 20px;
}

.codeBlock{
font-family: codeFont;
color:#969696;
font-size: 20px;
}

.invertedtitle{
	font-size: 18px;
	color:#FFFFFF;
    background: #385b71;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    z-index: 250;
    font-family: titleFont;
}

.explanatorytextalignL,.explanatorytextalignR{
  font-size: 12px;
}

.explanatorytextalignR{
    text-align: right;
}

.explanatorytextalignL{
    text-align: left;
}

.posterTitle{
    font-size: 60px;
}

.passComment, .passCommentL,.passCommentR,.posterpassComment, .posterpassCommentL,.posterpassCommentR,.thinkingR,.thinkingL,.topthinkingR,.topthinkingL,.comiccommentR,.comiccommentL,.comicthinkingR,.comicthinkingL, .topcomicthinkingL,.topcomicthinkingR,.topcomiccommentR,.topcomiccommentL,.lettercommentR,.lettercommentL,.letterthinkingR,.letterthinkingL,.topletterthinkingL,.topletterthinkingR,.toplettercommentR,.toplettercommentL{
    border: solid #003366 1px;
}

.posterinfoBlock,.posterpassComment, .posterpassCommentL,.posterpassCommentR{
font-size: 32px;
}

.thinkingL:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/thinkingL.svg);
    bottom:-11.5px;
    left:10%;
    z-index: 255;
      }

.comicthinkingL:after,.letterthinkingL:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/thinkingL.svg);
    bottom:-11.5px;
    left:10%;
    z-index: 255;
      }

.topcomicthinkingL:before,.topletterthinkingL:before{
    position:absolute;
    height:12px;
    content:url(cssGraphics/topthinkingL.svg);
    top:-20px;
    left:20px;
    z-index: 255;
      }

.topthinkingL:before{
    position:absolute;
    height:12px;
    content:url(cssGraphics/topthinkingL.svg);
    top:-20px;
    left:20px;
    z-index: 255;
      }

.topcomiccommentL:before,.toplettercommentL:before{
    position:absolute;
    height:12px;
    content:url(cssGraphics/toptalkingL.svg);
    top:-18px;
    left:20px;
    z-index: 255;
      }

.thinkingR:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/thinkingR.svg);
    bottom:-11.5px;
    right:10%;
    z-index: 255;
      }

.comicthinkingR:after, .letterthinkingR:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/thinkingR.svg);
    bottom:-11.5px;
    right:10%;
    z-index: 255;
      }

.topcomicthinkingR:before, .topletterthinkingR:before{
    position:absolute;
    height:12px;
    content:url(cssGraphics/topthinkingR.svg);
    top:-20px;
    right:20px;
    z-index: 255;
      }

.topthinkingR:before{
    position:absolute;
    height:12px;
    content:url(cssGraphics/topthinkingR.svg);
    top:-20px;
    right:20px;
    z-index: 255;
      }

.topcomiccommentR:before,.toplettercommentR:before{
    position:absolute;
    height:12px;
    content:url(cssGraphics/toptalkingR.svg);
    top:-18px;
    right:20px;
    z-index: 255;
      }

.passCommentL:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/commentTailL.svg);
    bottom:-9px;
    left:10%;
    z-index: 255;
      }

.comiccommentL:after,.lettercommentL:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/commentTailL.svg);
    bottom:-8px;
    left:10%;
    z-index: 255;
      }

.posterpassCommentL:after{
    position:absolute;
    height:11px;
    content:url(cssGraphics/postercommentTailL.svg);
    bottom:-2px;
    left:10%;
    z-index: 255;
      }


.passCommentR:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/commentTailR.svg);
    bottom:-9px;
    right:10%;
    z-index: 255;
      }

.comiccommentR:after,.lettercommentR:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/commentTailR.svg);
    bottom:-8px;
    right:10%;
    z-index: 255;
      }

.posterpassCommentR:after{
    position:absolute;
    height:11px;
    content:url(cssGraphics/postercommentTailR.svg);
    bottom:-2px;
    right:10%;
    z-index: 255;
      }

.rightLines{
    font-family: romanFont;
    color:#003366;
    font-size: 16px;
    background: #e9f6e6;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border: solid #44a210 1px;
    z-index: 250;
      }
.rightLines:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/rightlines.svg);
    bottom:-9px;
    right:10%;
    z-index: 255;
      }

.wrongTrack{
    font-family: romanFont;
    color:#003366;
    font-size: 16px;
    background: #f2e7e7;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border: solid #d60d12 1px;
    z-index: 250;
      }
.wrongTrack:after{
    position:absolute;
    height:12px;
    content:url(cssGraphics/wrongtrack.svg);
    bottom:-9px;
    left:10%;
    z-index: 255;
      }


/*pml parse support*/

.fraction {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;

    }
.fraction > span {
    display: block;
    padding: 0.1em;
    }
.fraction span.fractiondown {border-top: thin solid black;}
.fraction span.fractionup {}



.sscript{
font-style: normal
}

.relationship{
white-space:nowrap
}

.groupedblock{
white-space:nowrap
}

/*button*/

.PDLbutton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: romanFont;
  color: #003366;
  font-size: 14px;
  background: #E6E6E6;
  padding: 5px 10px 5px 10px;
  border: solid #cccccc 2px;
  text-decoration: none;
  white-space: nowrap;
}

.PDLbutton:hover {
  background: #5bad3a;
  text-decoration: none;
  cursor: pointer;
}

.vectorarrow{position:relative; bottom: 0.7em; left:0.7em; width; 0px; font-size: 0.9em;}
.vectorquantity{font-weight: bold;font-style: italic; width:0.6em; position:relative; right:0.3em;}

.hiloHigh{position:relative; bottom: 0.6em; left:0.8em; width; 0px; font-size: 0.6em;}
.hiloLow{position:relative; top: 0.6em; left:0.2    em; width; 0px; font-size: 0.6em;}
.hilowrap{width:0.6em; position:relative; right:0.3em;}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 60 px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  border-radius: 10px;
  border: solid #cccccc 2px;
  background: #E6E6E6;
}
input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 12px;
  border-radius: 10px;
  border: solid #cccccc 2px;
  background: #E6E6E6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

PDLslider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 10px;
  border: solid #cccccc 2px;
  background: #E6E6E6;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.PDLslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    background: #4CAF50;
    cursor: pointer;
}

.PDLslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
